.main {
    width: 100%;
    margin-top: 80px;
    height: auto;
    display: flex;
}

.main--left {
    height: 100%;
    width: 60%;
    color: #4b4a4a;
}

.main--left--tagtext {
    text-align: justify;
    margin-left: 4%;
    margin-top: 4%;
    width: 100%;
}

.main--left--title {
    margin-left: 4%;
}

.main--left--content-container {
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap; 
  }

.main--left--content::-webkit-scrollbar {
    display: none;
  }
  
.main--left--content {
    width: 96%;
    height: 470px;
    margin-left: 4%;
    display: inline-flex;
    gap: 24px;
    overflow-x: auto;
    white-space: nowrap;
}

.main--right {
    width: 40%;
    height: calc(100vh - 80px);
    background-image: url('/public/mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    color: rgb(255, 246, 246);
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 72px;
    padding-left: 8px;
}

@media (max-width: 1200px) {
    
    .main {
        margin-top: 220px;
        flex-direction: column;
    }

    .main--left {
        height: 60%;
        width: 100%;
    }
    
    .main--right {
        display: none;
    }    

    .main--left--tagtext {
        padding-top: 24px;
        width: 96%;
    }
}