.sheet {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: relative;
}

.sheet--tag {
    position: absolute;
    top: 7px;
    left: 7px;
    background-color: antiquewhite;
    border-radius: 4px;
    padding: 4px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.sheet--picture {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}

.sheet--title {
    width: 100%;
    white-space: normal;
}

.sheet--ratingsdiv {
    display: flex;
    justify-content: space-around;
}

.sheet--rating {
    font-weight: 900;
}

.sheet--noratings {
    font-size: small;
    align-self: center;
}

.sheet--price {
    font-size: smaller;
    margin-top: 8px;
    align-self: center;
}